.carousel-transition-enter {
  opacity: 0;
  transform: scale(0.25);
}

.carousel-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.carousel-transition-appear {
  opacity: 0;
  transform: scale(0.25);
}

.carousel-transition-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.my-node-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.my-node-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity transform 2000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
